<footer>
	<p>&copy; Golden Byte Consulting Ltd 2012. All rights reserved. Registered in England &amp; Wales. Company Number: 07979843.</p>
	<p><a href="/" title="">Privacy Policy</a>. <a href="/" title="">Terms &amp; Conditions</a>. <a href="/" title="">Contact Us</a>. <a href="/" title="">Site Map</a>.</p>
</footer>