<footer>
	<p>&copy; Golden Byte Consulting Ltd 2012. All rights reserved. Registered in England &amp; Wales. Company Number: 07979843.</p>
	<p><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>. <a href="/terms-and-conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a>. <a href="/contact-us" title="Contact Us">Contact Us</a>. <a href="/site-map" title="Site Map">Site Map</a>.</p>
</footer>