<ul class="nav">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="/what-we-do">What we do</a></li>
  <li><a href="/who-we-are">Who we are</a></li>
  <li><a href="/our-clients">Our clients</a></li>
  <li><a href="/contact-us">Contact us</a></li>
</ul>