    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <!--Sidebar content-->
            <ul>
              <li><a href="#email" title="Email">Email</a></li>
              <li><a href="#telephone" title="Telephone">Telephone</a></li>
            </ul>
          </div>
          <div class="span10">
            <!--Body content-->
            <h1>Contact us</h1>
            <h2 id="email">Email</h2>
            <p><a href="mailto:contact@goldenbyteconsulting.com" title="">contact@goldenbyteconsulting.com</a></p>

            <h2 id="telephone">Telephone</h2>
            <p><a href="skype:02071937350" title="">+44 207 193 7350</a></p>
            
          </div>
        </div>
      </div>

    <hr>