    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <!--Sidebar content-->
            <ul>
              <li><a href="#directors" title="Directors">Directors</a></li>
              <li><a href="#associates" title="Associates">Associates</a></li>
            </ul>
          </div>
          <div class="span10">
            <!--Body content-->
            <h1>Contact us</h1>
            <h2 id="directors">Directors</h2>
            <p>Directors to go here</p>

            <h2 id="associates">Associates</h2>
            <p>Associates to go here</p>
            
          </div>
        </div>
      </div>

    <hr>