     <div class="container white">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Golden bytes</h1>
        <p>Whether you are up skilling your team, improving your digital product quality and testing, launching a mobile app across multiple platforms or rebuilding your enterprise level global ecommerce site in HTML5 with improved security and financial compliance, we can help you minimise risk, eliminate waste and deliver on time and on budget.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Welcome to Golden Byte</h2>
           <p>We provide digital consulting, training and mentorship. We work with large global organisations, digital and integrated marcomms agencies and universities and colleges worldwide. Our clients are all working to become more digitally proficient, effective, expert and profitable.</p>
          <p><a class="btn" href="/what-we-do">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Supply vs demand</h2>
           <p>The demand for project management is increasing. The supply is falling. The solution is to train skill up graduates, existing managers and your teams in the correct digital project management methods and processes.</p>
          <p><a class="btn" href="/who-we-are">More about us &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Golden Byte</h2>
          <p>Our digital project managers and consultants consistently uncover hidden digital revenue streams and increase on time, on budget deliveries by 37-43% within 6 weeks of working with a client. We do this while offering ongoing mentorship to you and your team.</p>
          <p><a class="btn" href="/contact-us">Talk to us &raquo;</a></p>
        </div>
      </div>

      <hr>