     <div class="container white">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Golden bytes</h1>
        <p>Whether you are up skilling your team, improving your digital product quality and testing, launching a mobile app across multiple platforms or rebuilding your enterprise level global ecommerce site in HTML5 with improved security and financial compliance, we can help you minimise risk, eliminate waste and deliver on time and on budget.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Digital business consultancy</h2>
           <p>Helping you achieve success in a rapidly changing digital landscape. The Internet and new technologies are changing the way we do business. The old ways no longer work.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Digital business consultancy</h2>
           <p>As digital business consultants, we’re here to help you understand new business practices, new consumer behaviour, and the new digital technologies available.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Digital business consultancy</h2>
          <p>We work with global brands, offering a range of digital services from e-commerce, to online brand protection, digital business strategies and online marketing.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>