    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <!--Sidebar content-->
            <ul>
              <li><a href="#digital-project-management-training" title="Digital project management training">Digital project management training</a></li>
              <li><a href="#agile-and-digital-best-practice" title="Agile and digital best practice">Agile and digital best practice</a></li>
              <li><a href="#digital-project-direction" title="Digital project direction">Digital project direction</a></li>
              <li><a href="#digital-strategy-and-risk-analysis" title="Digital strategy and risk analysis">Digital strategy and risk analysis</a></li>
            </ul>
          </div>
          <div class="span10">
            <!--Body content-->
            <h1>What we do</h1>
            <p>We do digital project management training for digital project managers and for any members of your team involved in digital projects.  We educate on digital best practice and agile project management. We uncover hidden digital revenue streams and increase your on time on budget deliveries by 37-43% within 6 weeks. We do digital department set up, risk analysis, QA and best practice implementation and can also advise on digital strategy, digital content and associated costs, timings and risks.</p>
            <p>Whether you are up skilling your team, improving your digital product quality and testing, launching a mobile app across multiple platforms or rebuilding your enterprise level global ecommerce site in HTML5 with improved security and financial compliance, we can help you minimise risk, eliminate waste and deliver on time and on budget.</p>

            <h2 id="digital-project-management-training">Digital project management training</h2>
            <p>The digital project management training course runs over 12 weeks. The course sessions last for 3 hours and can be run weekly or twice weekly. The benefits of twice weekly sessions include monitoring progress and mentoring delegates.</p>
            <p>We cover everything from tailoring your management style to the digital project management process, to rich media advertising and digital professional practice, to migrating websites and domain names. Week 10 gives attendees the opportunity to complete the intermediate level assessment.</p>
            <p>Each session is divided into process and practice. For the practice parts of the session the delegates will bring along their current live to do list (current on the day of the training session) and any supporting documentation (e.g. timing plans, costs estimates, hosting agreements, media specs, functional and technical specifications). When delegates leave the sessions they will not only have acquired knew confidence, decision making skills and process and technical knowledge, but will have completed some of the day’s tasks as well.</p>
            <p>Day and half day courses tailored to needs are available on request.</p>

            <h2 id="agile-and-digital-best-practice">Agile and digital best practice</h2>
            <p>Many people ask for Prince2 practitioners and certified Scrum Masters when helping companies to find the best digital project managers. But what happens when companies have projects that are too fast to apply Prince2 methodology? Or for companies who cannot roll out Agile software development because their technology teams are too small or outsourced? </p>
            <p>Agile software project management does not follow a cookbook. It follows a set of agile principles that are a guide.  The project management activities used in Scrum are based on principles  common to all agile processes. Scrum requires management to learn and use different methods from traditional methods of managing product  and system development.</p>
            <p>We show teams how to apply the best of agile as far as possible, where possible, within best practice guidelines if they do not have a large software development team who are already using Agile methodologies.</p>
            <p>Even if constraints, and being human, prevent perfection, it is never too soon to start to:</p>
            <ol>
              <li>Eliminate Waste</li>
              <li>Increase Feedback</li>
              <li>Delay Commitment (leave all your options open for as long as possible to find the best solution)</li>
              <li>Deliver Fast</li>
              <li>Build Integrity In</li>
              <li>Empower the Team</li>
              <li>Optimize the Whole</li>
            </ol>
            <p>Do it right. Do it better. Decrease risk. Empower your team. Increase profit. Talk to us >></p>

            <h2 id="digital-project-direction">Digital project direction</h2>
            <h3>Blue-chip clients</h3>
            <p>Have you been creating Facebook pages, tweeting, buying advertising space on YouTube, rebuilding legacy CMS corporate websites, creating mobile sites and mobile applications or being asked to upgrade servers to manage an increase in traffic or a change in security procedures? Do you work extra hard when choosing a company to provide software and hardware services for you? Do you find that the service provider you want, is also the most expensive or that one company is very strong technically but doesn’t quite provide the creative strategy that gels with your brand values?</p>
            <p>We can help you choose and select software and hardware providers and review RFP responses. We also offer impartial guidance as to realistic timings and budgets for outsourced projects and furnish you with a list of questions that you can ask potential consultancy partners before you sign a master services agreement with them. Where applicable we can recommend IP lawyers who are specialists in intellectual property law for the software industry, making sure that everyone is happy with the aftercare and resources available to look after your site, application or software services once they have been launched.</p>

            <h3>Agencies</h3>
            <p>Do your middle managers come to you with more questions than solutions? Do you need to be spending more time reporting to the board and in new business meetings and less time sitting in on calls and internal review meetings to make sure that all the correct decisions are being made? Are your team noticing and escalating any issues that need managing early enough? Do you have enough Senior Project Managers with the right financial and technical knowledge who you can trust to mentor and guide your junior and mid weight team members?</p>
            <p>We provide on the spot digital project direction for when you are at your busiest and in the midst of recruiting or upsizing your team. We can also help you roll out digital project management templates and processes, including QA and best practice, bug tracking and traffic management systems with digital project management training during and after the settling in period.</p>

            <h2 id="digital-strategy-and-risk-analysis">Digital strategy and risk analysis</h2>
            <p>Does your company’s digital strategy work within the technical and financial constraints of your technology team? Do you have enough time and resource to create and manage the content of your digital communications? Do you have the correct digital and technical resources for the digital products that you are selling?  What are the risks associated with a new or existing digital project when viewing the objectives of your finance, technical and client strategy teams? Are your KPIs measureable and do you have a process in place that allows you to measure data accurately in order to assess risk? Do 20-80% of your projects require financial, security and legal compliance approvals? How do you manage these phases and lead times without impacting on delivery quality and dates?</p>
          </div>
        </div>
      </div>

      <hr>