    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <!--Sidebar content-->
            <ul>
              <li><a href="#directors" title="Directors">Directors</a></li>
              <li><a href="#associates" title="Associates">Associates</a></li>
            </ul>
          </div>
          <div class="span10">
            <!--Body content-->
            <h1>Who we are</h1>
            <h2 id="directors">Directors</h2>
            <h3>Martin Crockett</h3>
            <h3>Digital Project Director &amp; Co-founder</h3>
            <p>Martin is a digital project manager with over fourteen years project management, development and creative experience in award winning technology, design and advertising agencies in London and New York.</p>
            <p>Since 2006, Martin has led projects at leading agencies including LBi, Sapient, R/GA, Wunderman, Euro RSCG London, RMG Connect, Chemistry, Tonic, Pirata London and Syzygy for clients including Sony, Nokia, Ford, Shell, Aviva, Vodafone, McLaren F1, Credit Suisse and Allianz.</p>
            <p>In addition to this, he also had client-side roles at Shell, T-Mobile UK and Sony Computer Entertainment Europe.</p>
            <p>He has been responsible for controlling seven-figure budgets and managing multiple stakeholders across different time zones.</p>
            <p>Prior to project management, Martin worked as both an interface developer eloper and software developer eloper. He has nine years development experience leading to a strong technical background.</p>
            <p>He is a Certified ScrumMaster and PRINCE2 practitioner.</p>

            <h3>Laura Pascoli</h3>
            <h3>Digital Project Director &amp; Co-founder</h3>
            <p>Laura has worked in digital project management, communications and production for thirteen years in London and Rome, for companies including, Bloomberg, Deepend, Lloyd Northover, J2, JWT and Chemistry. She has managed projects encompassing, bespoke email marketing software, CRM and CMS solutions, enterprise level ecommerce sites, rich media campaigns, mobile marketing, SEO and SMO optimisation, digital department management, hosting management and iPhone and mobile application development.</p>
            <p>Laura's clients have included; The United Nations, Benetton, Swatch, Aqua di Parma,  Royal Mail, Shell, HSBC, RBOS, Diageo, Emirates Airlines, Companies House, NS&amp;I, The British Red Cross, Head London, John Lewis and PublicisGroupe.</p>
            <p>She is accredited by the Institute of Design Management, holds a BA (Hons) in Design and International Marketing and a Design Management diploma (DipHE).</p>
            <p>Laura was trained and mentored by veteran industry consultants Liz Lydiate, http://thehenrylydiatepartnership.com/associates/liz_lydiate.html and Simon May http://www.august.co.uk.</p>

            <h2 id="associates">Associates</h2>
            <h3>Associate 1 to go here</h3>
            <p>Biography to go here</p>
            
          </div>
        </div>
      </div>

    <hr>